<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="C:\Users\Celia\Desktop\projeto teo Developer Web\CSS INTERMEDIÁRIO E AVANÇADO\css\layout.css" type="text/css">
  <title>Layout</title>
</head>

<body>
  <div id="container">
    <div id="marca">Marca</div>
    <div id="conteudo">
      <div id="conteudo-principal">
        <img src="../imagens/natureza.jpg" class="imagem">

        <h2>LOREM IPSUM</h2>
      <p>Lorem ipsum Lorem ipsum
        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsum
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>

        <h2>LOREM IPSUM</h2>
        <p>Lorem ipsum Lorem ipsum
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
        </p>

      </div>
      <div id="conteudo-secundario">
        <h2>Conteúdo Secundário</h2>
        <p>Lorem ipsum Lorem ipsum
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
        </p>
      </div>
    </div>
    <div id="navegacao">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Sobre</a></li>
        <li><a href="">Notícias</a></li>
        <li><a href="">Produtos</a></li>
        <li><a href="">Serviços</a></li>
        <li><a href="">Clientes</a></li>
        <li><a href="">Contato</a></li>
      </ul>
    </div>
    <div id="rodape">Rodapé</div>

  </div>




</body>

</html>
